@model BloodDonor.Web.ViewModels.Requests.RequestListViewModel

<h1>Add your Request</h1>


    <div class="row">
        @foreach (var request in Model.Requests)
        {
            <div class="col-md-4 media">
                <div class="media-body">
                    <h5 class="mt-0">
                        <a asp-controller="Requests" asp-action="ById" asp-route-id="@request.Id">
                            @request.PatientFullName
                        </a>
                    </h5>
                    @request.PatientBloodType
                    @request.PatientLocationTownName

                    <hr/>
                    
                    <a class="btn btn-danger btn-block" asp-controller="Requests" asp-action="Delete" asp-route-id="@request.Id">Delete this Request</a>
                  
                
                </div>
            </div>
        }
    </div>
