@model BloodDonor.Web.ViewModels.Requests.RequestViewModel

<h1>Add your Request</h1>



<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="@Model.PatientFullName">
    <div class="card-body">
        <h5 class="card-title">@Model.PatientFullName</h5>
        <h5 class="card-title">@Model.MedicalCondition</h5>
        <h5 class="card-title">@Model.PatientBloodType</h5>
        <h5 class="card-title">@Model.PatientLocationTownName</h5>
        <h5 class="card-title">@Model.Quantity</h5>
        <p class="card-text">@Model.PeronalMessage</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
